.bg{
    background-color: black !important;
    border-radius: 50%;
    /* height: 80%; */
}
/* .h-w{
    height: 50%;
    width: 100%;
} */
.js{
 text-align: justify;
}
.h-100{
height: 500px;
}
.bg-w{
   background-color: orangered !important ; 
}
.bg-b{
    /* background-color: aqua !important ;  */
    height: 100px !important;
 }
.btn-black{
    background-color: black !important;
}
.btn-o{
    /* background-color: orange !important; */
}
.txt-w{
    color: white !important ;
}
.txt-b{
    color: black;
}
.txt-o{
    color: orangered !important;
}